NOTE:
-----

Please run the below cells first before proceeding- you'll need them soon!

In [19]:
%load_ext sql
%sql sqlite:///precipitation.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@precipitation.db'

Activity 3-3
------------
Quantifiers, NULLs, and Outer Joins

Exercise #1:
------------

In the precipitation table, can you get _the count_ of stations in CA that never had a NULL read day (in the data loaded)?

Recall also that the CA state_code here is 4

In [26]:
%sql SELECT * FROM precipitation LIMIT 5;

Done.

[(1, 807, 2013, 9, 1, 1, None, u'[', u''),
 (1, 807, 2013, 9, 1, 25, 0, u'I', u''),
 (1, 807, 2013, 9, 30, 24, None, u']', u''),
 (1, 807, 2013, 9, 30, 25, 0, u'I', u''),
 (1, 6303, 2013, 9, 1, 1, 0, u'g', u'')]

Write your query here:

In [30]:
# Result you should get (do not re-execute this cell!)
_

[(140,)]