In [1]:
%load_ext sql
%sql sqlite://

/Library/Python/2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Library/Python/2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

'Connected: None@None'

In [2]:
%%sql drop table if exists product;
create table product(
       pname        varchar primary key, -- name of the product
       price        money,               -- price of the product
       category     varchar,             -- category
       manufacturer varchar NOT NULL     -- manufacturer
);
insert into product values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into product values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into product values('MultiTouch', 203.99, 'Household', 'Hitachi');
insert into product values('SingleTouch', 149.99, 'Photography', 'Canon');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Activity 2-2:
-------------

Single table queries

Exercise #1
-----------

Try writing a query to get an output table of all the products with "Touch" in the name, showing just their name and price, and sorted alphabetically by manufacturer.  Also think about whether or not this query is "proper" SQL or not?

Let's look at the products first:

In [ ]:
%sql select * from product;

Write your query here:

Next, write a query that returns the _distinct_ names of manufacturers that make products with "Gizmo" in the name:

Exercise #2:
------------

_More on ORDER BY_

Try some of these queries but first guess what they return.  Which ones are "proper" SQL?

In [ ]:
%sql SELECT DISTINCT category FROM product ORDER BY category;

In [ ]:
%sql SELECT category FROM product ORDER BY pname;

In [ ]:
%sql SELECT DISTINCT category FROM product ORDER BY pname;