In [8]:
%load_ext sql
%sql sqlite:///complaint.db
import time
%sql drop index if exists helpful_index;
%sql analyze

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Done.
Done.

[]

Activity 13: Indexes
===========

Let's play with the [consumer complaint database](https://catalog.data.gov/dataset/consumer-complaint-database) from data.gov

In [9]:
%sql select count(*) from complaints;

Done.

[(471871,)]

In [10]:
%sql select * from complaints limit 5;

Done.

[(u'10/28/2015', u'Debt collection', u'Other (phone, health club, etc.)', u"Cont'd attempts collect debt not owed", u'Debt was paid', u'', u'Company believes it acted appropriately as authorized by contract or law', u'First National Collection Bureau, Inc.', u'CO', u'810XX', u'Web', u'10/28/2015', u'Closed with explanation', u'Yes', u'', u'1629130'),
 (u'10/28/2015', u'Credit reporting', u'', u'Incorrect information on credit report', u'Public record', u'', u'Company chooses not to provide a public response', u'FNIS (Fidelity National Information Services, Inc.)', u'MI', u'48334', u'Web', u'10/28/2015', u'Closed with explanation', u'Yes', u'', u'1628785'),
 (u'10/28/2015', u'Money transfers', u'International money transfer', u'Fraud or scam', u'', u'', u'', u'Navy FCU', u'VA', u'221XX', u'Web', u'10/28/2015', u'In progress', u'Yes', u'', u'1629655'),
 (u'10/28/2015', u'Debt collection', u'', u"Cont'd attempts collect debt not owed", u'Debt is not mine', u'', u'', u'EOS Holdings, Inc.', u'FL', u'321XX', u'Web', u'10/28/2015', u'Closed with explanation', u'Yes', u'Yes', u'1629306'),
 (u'10/28/2015', u'Debt collection', u'Medical', u"Cont'd attempts collect debt not owed", u'Debt was paid', u'', u'', u'Transworld Systems Inc.', u'CA', u'961XX', u'Web', u'10/28/2015', u'In progress', u'Yes', u'', u'1629407')]

### Exercise 1: Query without an index

First, let's start off by writing a query to find the **counts of the top 5 Product, State pairs** in the complaints database (return the product and state as well as the count).  Use the single-line syntax for simple timing so we can see how long the query takes:

In [11]:
%time %sql SELECT product, state, count(*) AS c FROM complaints GROUP BY product, state ORDER BY c DESC LIMIT 5;

Done.
CPU times: user 791 ms, sys: 78.3 ms, total: 869 ms
Wall time: 888 ms

[(u'Mortgage', u'CA', 29434),
 (u'Mortgage', u'FL', 18659),
 (u'Debt collection', u'CA', 11066),
 (u'Mortgage', u'NY', 10002),
 (u'Credit reporting', u'CA', 9402)]

### Exerise 2: Single search key index

Now create a _single-key_ index such that the above query is faster!  The syntax to create an index in SQL is:
> DROP INDEX IF EXISTS index_name;
> CREATE INDEX index_name ON table(attributes);

In [12]:
%%sql
DROP INDEX IF EXISTS state_index;
CREATE INDEX state_index ON complaints(state);

Done.
Done.

[]

In [13]:
%time %sql SELECT product, state, count(*) AS c FROM complaints GROUP BY product, state ORDER BY c DESC LIMIT 5;

Done.
CPU times: user 791 ms, sys: 71.9 ms, total: 862 ms
Wall time: 879 ms

[(u'Mortgage', u'CA', 29434),
 (u'Mortgage', u'FL', 18659),
 (u'Debt collection', u'CA', 11066),
 (u'Mortgage', u'NY', 10002),
 (u'Credit reporting', u'CA', 9402)]

### Exercise 3

Now, create a _covering_ index for the query and then see how long it takes to run!

In [14]:
%%sql
DROP INDEX IF EXISTS state_product_index;
CREATE INDEX state_product_index ON complaints(state, product);

Done.
Done.

[]

In [15]:
%time %sql SELECT product, state, count(*) AS c FROM complaints GROUP BY product, state ORDER BY c DESC LIMIT 5;

Done.
CPU times: user 110 ms, sys: 6.58 ms, total: 117 ms
Wall time: 116 ms

[(u'Mortgage', u'CA', 29434),
 (u'Mortgage', u'FL', 18659),
 (u'Debt collection', u'CA', 11066),
 (u'Mortgage', u'NY', 10002),
 (u'Credit reporting', u'CA', 9402)]

### Exercise 3(b):

Use EXPLAIN to see if sqlite used/recognized your covering index.  EXPLAIN is an operator that tells SQL to explain its query plan... we'll look into this in more depth later.  For now, the syntax is:
> EXPLAIN QUERY PLAN your_query_here;

In [16]:
%%sql
EXPLAIN QUERY PLAN
SELECT product, state, count(*) AS c
FROM complaints
GROUP BY product, state ORDER BY c DESC LIMIT 5;

Done.

[(0, 0, 0, u'SCAN TABLE complaints USING COVERING INDEX state_product_index'),
 (0, 0, 0, u'USE TEMP B-TREE FOR ORDER BY')]